<style>
    .test {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100vh;
        background-image: url("/img/background.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    img{
        z-index: -1;
        height: 100vh;
    }
</style>
<div class="test">
    <img src= alt="">
<h1>5VX4+4RW</h1>
</div>